.chatback{
    background-color: #5e87b0;
    border-bottom: 1px solid #507aa4;
    color: #ffffff !important;
}
.borderright1{
    border-left: 4px solid #5e87b0;
}
.borderright1 a{
    color:#5e87b0;
}
.borderright1 a:hover{
    color:#5e87b0 !important;
}
.minwidth250{
    min-width: 250px;
    max-width: 250px;
}
.chat-list img{
    border-radius: 33px !important;
}
.maxwidth900{
    max-width: 900px;
    min-width: 900px;
    display: table;
}
.maxwidth64{
    max-width: 64px;
    min-width: 64px;
    min-height: 64px;
    max-height: 64px;
}
.activeshadow{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.userlist{
    background-color: #dbdbdb !important;
    /*text-align: right;*/
}
.borderrightnone{
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
}
.chat-window{
    border-top-left-radius: 0 !important;
}
.padding0{
    padding: 0;
}
.textcentre{
    text-align: center;
}
.borderbottom000{
    border-bottom: 1px solid #000;
}
.maxwidth700{
    max-width: 700px;
}
.login-box{
    margin-bottom: 0 !important;
}
.width100{
    width: 100%;
}
.colorfff{
    color:  #fff;
}
.chattext{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 10px;
}
.padding5{
    display: table;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.crspointer{
    cursor: pointer;
}
.paddingtopbottom10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.userlistname{
    font-weight: bold;
}
.userlistname:hover,.userlistname:focus,.userlistname:active{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.colorfff{
    color: #fff;
}
.crspointer:hover{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.bordertop2{
    border: 2px solid #FFF;
}
.borderleftright2{
    border-left: 2px solid #fff; 
    border-right: 2px solid #fff;
}
.login-box{
    margin-bottom: 0 !important;
}
.marginright10{
    margin-right: 10px;
}
.margintop10{
    margin-top: 10px;
}
.td{
    text-align: center !important;
}
.borderradius0{
    border-radius: 0 !important;	
}
.control-label{
    text-align: center !important;
}
.maxwidth500{
    max-width: 500px;
}
.required{
    color: red;
}
.margin0auto{margin: 0 auto;}
.disptable{display: table;}
.error{color: red;display: block !important; float: none;}
.marginright20{
    margin-right: 20px;
}
.paddingtopbottom5{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.passtohide{
    display: none;
}
#alert{
    margin-left: 0px;
    cursor: pointer;
    animation:vibrate 0.1s linear 0s infinite ;
    -moz-animation: vibrate 0.1s linear 0s infinite ; /* Firefox */
    -webkit-animation: vibrate 0.1s linear 0s infinite ; /* Safari and Chrome */
    -o-animation: vibrate 0.1s linear 0s infinite ; /* Opera */
}

@keyframes vibrate{
    0% {margin-left: 0px;}
25% {margin-left: -3px;}
50% {margin-left: 0px;}
75% {margin-left: 3px;}
100% {margin-left: 0px;}
}
@-moz-keyframes vibrate {
    0% {margin-left: 0px;}
25% {margin-left: -3px;}
50% {margin-left: 0px;}
75% {margin-left: 3px;}
100% {margin-left: 0px;}
}
@-webkit-keyframes vibrate /* Safari and Chrome */{
    0% {margin-left: 0px;}
25% {margin-left: -3px;}
50% {margin-left: 0px;}
75% {margin-left: 3px;}
100% {margin-left: 0px;}
}
.btn-group.open .dropdown-menu li a{line-height: inherit !important;}
/* Timer Slider */
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}